auto-install-peers = true
# For electron-builder
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
shamefully-hoist=true

# 主要注册表配置
registry=https://registry.npmmirror.com/

# 二进制包镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/
NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
disturl=https://npmmirror.com/dist
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/

# 网络设置
network-timeout=600000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# 禁用严格的SSL
strict-ssl=false

# Node.js 选项
node-options=--no-warnings --max-http-header-size=80000

# 对于 @flowgram.ai 包，通过淘宝镜像转发
# @flowgram.ai:registry=https://registry.npmjs.org/
